Repository S-O-O-P/S-O-O-P-React, pull requests merged in 2024-07, with the labels that each got.

#70 [FEATURE][HONEYPOT][REGISTRATION] VIEW 구현
  public/images/honeypot/no_culture_info.png
  src/App.js
  src/components/honeypot/RegistStepOne.js
  src/components/honeypot/RegistStepTwo.js
  src/pages/honeypot/HoneypotPage.css
  src/pages/honeypot/HoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.css
  src/pages/honeypot/RegistHoneypotPage.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#71 [FEATURE][LOGIN] 로그인 , 로그인 상태 유지, 로그인후 권한 설정
  package-lock.json
  package.json
  src/App.js
  src/apis/ExpiredToken.js
  src/components/PrivateRoute.js
  src/components/PublicRoute.js
  src/components/commons/Header.css
  src/components/commons/Header.js
  src/components/login/Login.js
  src/components/login/SignUpCompleted.css
  src/layouts/Layout.js
  src/pages/main/Main.js
  src/setupProxy.js
Labels: 🥰 Accessibility, 📬 API, ✨ Feature

#73 [FEATURE][COMPONENT][COMMONS] 로딩 페이지 추가
  src/components/commons/Loading.css
  src/components/commons/Loading.js
Labels: ✨ Feature, 🎨 Html&css

#74 [FEATURE][CULTUREINFO][API] 공연/전시 공공데이터 API 호출 및 적용 작업
  src/App.js
  src/apis/CultrueDetailApi.js
  src/apis/CultureApi.js
  src/apis/CultureDetailApi.js
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/HotSlide.js
  src/components/cultureInfo/TableType.js
  src/components/main/TopBanner.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
  src/pages/main/Main.js
  src/styles/slick-theme.css
Labels: 📬 API, ✨ Feature

#76 [FEATURE][HONEYPOT][DETAIL] VIEW 구현
  public/images/commons/icon_delete_main_color.png
  public/images/honeypot/jeonsomin.PNG
  public/images/honeypot/neogoolman.jpg
  src/App.js
  src/components/commons/Header.js
  src/components/honeypot/HoneypotComment.css
  src/components/honeypot/HoneypotComment.js
  src/components/honeypot/RecommendHoneypot.css
  src/components/honeypot/RecommendHoneypot.js
  src/pages/honeypot/HoneypotDetailPage.css
  src/pages/honeypot/HoneypotDetailPage.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#80 [FEATURE][NOTICE] 공지사항 페이지 수정, 공지사항 상세페이지 백엔드 연결
  src/App.js
  src/pages/serviceCenter/NoticeDetail.js
Labels: 🎨 Html&css, :pager: BackEnd

#81 [FEATURE][CULTUREINFO][MAIN]공연/전시 정보 메인 페이지 내 카테고리 필터 / 페이지내이션 기능 추가
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/TableType.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: ✨ Feature, 🎨 Html&css

#82 [FEATURE][CULTUREINFO][API]공연/전시 정보 메인 페이지 내 필터링 기능 추가(진행중)
  src/pages/cultureInfo/CultureInfo.js
Labels: ✨ Feature

#84 [FEATURE][INQUIRY] 1:1 문의 작성 백엔드 연결
  src/pages/serviceCenter/Inquiry.js
Labels: ✨ Feature

#86 [FEATURE][LOGIN] connect database
  package-lock.json
  package.json
  src/App.js
  src/apis/CultureApi.js
  src/components/commons/Header.js
  src/components/login/Login.js
  src/components/login/SignUp.css
  src/components/login/SignUp.js
Labels: 📬 API, ✨ Feature, 🔨 Refactor

#89 [FEATURE][INQUIRY] 글자 수 기능 추가, 수정
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
Labels: ✨ Feature, 🎨 Html&css

#103 [FEATURE][CULTUREINFO][EARLYBIRD]얼리버드 공연/전시 정보 REST Api 호출 및 연결하기
  src/apis/cultureInfo/EarlyBirdApi.js
  src/components/cultureInfo/EarlySlide.js
  src/components/cultureInfo/HotSlide.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.js
Labels: 📬 API, ✨ Feature

#104 [FEATURE][SIGNUP] refactor
  src/components/commons/Header.js
  src/components/login/SignUp.css
  src/components/login/SignUp.js
  src/components/login/SignUpCompleted.css
  src/components/login/SignUpCompleted.js
Labels: 🥰 Accessibility, 📬 API

#107 [FEATURE][MYPAGE][BACKEND]
  src/App.js
  src/apis/honeypot/HoneypotDetailApi.js
  src/apis/mypage/FinishedHoneyPotApi.js
  src/apis/mypage/MyCommentApi.js
  src/apis/mypage/MyHoneyPotApi.js
  src/apis/mypage/MyInquiryApi.js
  src/apis/mypage/MyRatingApi.js
  src/apis/mypage/ParticipatingHoneypotApi.js
  src/apis/mypage/RatingApi.js
  src/apis/mypage/UserProfile.js
  src/components/honeypot/HoneypotList.js
  src/components/honeypot/HostDetailPage.js
  src/components/honeypot/UserDetailPage.js
  src/components/mypage/EditProfile.js
  src/components/mypage/MyComments.js
  src/components/mypage/MyHoneypot.js
  src/components/mypage/MyInquiry.js
  src/components/mypage/ParticipatingHoneypot.css
  src/components/mypage/ParticipatingHoneypot.js
  src/components/mypage/Review.css
  src/components/mypage/Review.js
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/HoneypotPage.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css, :pager: BackEnd

#109 [FEATURE][CULTUREINFO][EARLYBIRD]얼리버드 공연/전시 정보 REST Api 호출 및 연결하기
  src/apis/cultureInfo/HoneypotByCultureInfoApi.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 📬 API, ✨ Feature

#110 [FEATURE][MAIN][API]얼리버드 공연/전시 및 허니팟 REST Api 호출 및 연결하기
  src/apis/cultureInfo/EarlyBirdApi.js
  src/apis/main/honeypotByMainApi.js
  src/components/cultureInfo/EarlySlide.js
  src/components/main/EarlyBanner.js
  src/components/main/HotBanner.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/main/Main.js
  src/pages/main/Main.module.css
Labels: 📬 API, ✨ Feature

#115 [FEATURE][HONEYPOTANDMYPAGE][FRONT2]
  public/images/mypage/saveProfilePic/2d0f6e52-f73b-47b3-96a7-e7b399173bd7_16.PNG
  public/images/mypage/saveProfilePic/46b539fb-7e3d-4c1f-bb85-22e106d352f6_16.PNG
  public/images/mypage/saveProfilePic/cc5c7ea4-ea9a-4124-ac19-d766b1d511e7_다운로드.jpg
  src/App.js
  src/components/honeypot/HoneypotList.js
  src/components/honeypot/HostDetailPage.js
  src/components/mypage/EditProfile.js
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/HoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.js
  src/pages/mypage/MyPage.js
Labels: 📬 API, ✨ Feature

#114 [DEVELOP][REFACTOR] 기존 제가 만든 브랜치에 그동안 pull 이 안되어서 수정 했습니다.
  package-lock.json
  package.json
  src/App.js
  src/apis/CultureApi.js
  src/apis/DecodeJwtResponse.js
  src/apis/ExpiredToken.js
  src/apis/mypage/LoginCheckApi.js
  src/apis/mypage/UserProfile.js
  src/components/commons/Header.js
  src/components/login/Login.js
  src/components/login/SignUp.js
Labels: 📬 API, ✨ Feature

#116 [FEATURE][LOGIN] 회원 로그인 유지, 토큰 만료 시간 추적, 관심사 정보 등록, 헤더에 nickName 추가, nickName 특수 문자 거부,
  package-lock.json
  package.json
  src/App.js
  src/apis/DecodeJwtResponse.js
  src/apis/ExpiredToken.js
  src/apis/mypage/LoginCheckApi.js
  src/components/PrivateRoute.js
  src/components/PublicRoute.js
  src/components/commons/Header.js
  src/components/login/SignUp.js
  src/components/login/SignUpCompleted.js
  src/layouts/Layout.js
  src/pages/login/CompletedPage.js
Labels: 📬 API, ✨ Feature

#118 [FEATURE][CULTUREINFO][MODIFY] 공연/전시 정보 페이지 수정 작업
  src/apis/cultureInfo/EarlyBirdApi.js
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/EarlySlide.js
  src/components/cultureInfo/EarlySlideItem.js
  src/components/cultureInfo/TableType.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
  src/pages/main/Main.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css

#120 [FEATURE][HONEYPOT][MYPAGE][FIX] 마이페이지, 허니팟 수정
  public/images/commons/icon_report_main_color.png
  public/images/mypage/saveProfilePic/87eabaa1-607c-4136-bc2f-b516dd17aaba_koharu.PNG
  public/images/mypage/saveProfilePic/9c0cdb48-495d-46c9-8187-bea151d75c34_KakaoTalk_20240509_235450358.jpg
  public/images/mypage/saveProfilePic/b7026c67-39f8-461d-bf2a-52e36c2fb444_1596633273893.jpg
  public/images/mypage/saveProfilePic/d835a78f-264c-49c2-be48-c063d488d0ce_전소민짤.jpg
  public/images/mypage/saveProfilePic/e6e4d944-31e3-42d2-b335-82761f14429e_행복합니다.jpg
  public/images/mypage/saveProfilePic/ef540db3-9e5e-47dc-8eda-199f09d37217_침착맨.jfif
  src/App.js
  src/apis/CultureApi.js
  src/apis/CultureDetailApi.js
  src/apis/honeypot/ApplicationApi.js
  src/apis/honeypot/HoneypotDetailApi.js
  src/apis/honeypot/HoneypotListApi.js
  src/apis/mypage/FinishedHoneyPotApi.js
  src/apis/mypage/MyHoneyPotApi.js
  src/apis/mypage/MyInquiryApi.js
  src/apis/mypage/MyRatingApi.js
  src/apis/mypage/RatingApi.js
  src/apis/mypage/UserProfile.js
  src/components/honeypot/HoneypotComment.js
  src/components/honeypot/HoneypotList.css
  src/components/honeypot/HoneypotList.js
  src/components/honeypot/HostDetailPage.js
  src/components/honeypot/RecommendHoneypot.css
  src/components/honeypot/RecommendHoneypot.js
  src/components/honeypot/RegistStepTwo.js
  src/components/honeypot/UserDetailPage.js
  src/components/mypage/EditProfile.js
  src/components/mypage/MyHoneypot.js
  src/components/mypage/MyInquiry.css
  src/components/mypage/MyInquiry.js
  src/components/mypage/MyInquiryDetail.css
  src/components/mypage/MyInquiryDetail.js
  src/components/mypage/ParticipatingHoneypot.js
  src/components/mypage/Review.css
  src/components/mypage/Review.js
  src/pages/honeypot/HoneypotDetailPage.css
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/HoneypotPage.css
  src/pages/honeypot/HoneypotPage.js
  src/pages/honeypot/ModifyHoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.css
  src/pages/honeypot/RegistHoneypotPage.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#128 [FEATURE][CS] 고객센터 수정(+api 분리)
  src/App.js
  src/apis/serviceCenter/CsNotice.js
  src/apis/serviceCenter/Inquiry.js
  src/apis/serviceCenter/Notice.js
  src/apis/serviceCenter/NoticeDetailAPI.js
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Cs.module.css
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
  src/pages/serviceCenter/NoticeDetail.js
  src/pages/serviceCenter/samaple.js
Labels: 📬 API, 🎨 Html&css

#127 [FEATURE][MYPAGE][PROFILEPIC] 프로필 사진 클라우드 활용
  package-lock.json
  package.json
  public/images/mypage/saveProfilePic/2d0f6e52-f73b-47b3-96a7-e7b399173bd7_16.PNG
  public/images/mypage/saveProfilePic/2d4f196f-a149-4fc4-be8c-5197f33e1665_KakaoTalk_20240509_235450358.jpg
  public/images/mypage/saveProfilePic/46226ef2-6282-4b17-be65-6b2d96a50cb4_KakaoTalk_20240509_235450358.jpg
  public/images/mypage/saveProfilePic/46b539fb-7e3d-4c1f-bb85-22e106d352f6_16.PNG
  public/images/mypage/saveProfilePic/87eabaa1-607c-4136-bc2f-b516dd17aaba_koharu.PNG
  public/images/mypage/saveProfilePic/9c0cdb48-495d-46c9-8187-bea151d75c34_KakaoTalk_20240509_235450358.jpg
  public/images/mypage/saveProfilePic/aa153215-5f32-40d4-b8e0-bf5d441f3c1e_너굴맨.jpg
  public/images/mypage/saveProfilePic/b7026c67-39f8-461d-bf2a-52e36c2fb444_1596633273893.jpg
  public/images/mypage/saveProfilePic/cc5c7ea4-ea9a-4124-ac19-d766b1d511e7_다운로드.jpg
  public/images/mypage/saveProfilePic/d835a78f-264c-49c2-be48-c063d488d0ce_전소민짤.jpg
  public/images/mypage/saveProfilePic/d8902f6b-ed52-45b5-8585-d949f1f91349_침착맨.jfif
  public/images/mypage/saveProfilePic/e6e4d944-31e3-42d2-b335-82761f14429e_행복합니다.jpg
  public/images/mypage/saveProfilePic/ef540db3-9e5e-47dc-8eda-199f09d37217_침착맨.jfif
  src/firebaseConfig.js
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/mypage/MyPage.js
Labels: 📬 API, ✨ Feature

#129 [FEATURE][LOGIN,SIGNUP] REFACTOR
  src/App.js
  src/components/commons/Header.js
  src/components/login/SignUp.css
  src/components/login/SignUp.js
  src/components/login/SignUpCompleted.css
  src/components/login/SignUpCompleted.js
  src/pages/login/SignUp.js
  src/pages/main/Main.js
Labels: 🔨 Refactor

#131 [FEATURE][NOTICE] 파이어베이스 이미지 불러오기
  src/apis/serviceCenter/NoticeDetailAPI.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/NoticeDetail.js
  src/pages/serviceCenter/NoticeDetail.module.css
Labels: 📬 API, 🎨 Html&css

#132 [FEATURE][CS] 고객센터 <a> 태그 <NavLink>로 변경
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Notice.js
Labels: 🔨 Refactor

#133 [REFACTOR][HEADER][MYPAGE] 프로필 사진 추가, 및 공연전시 API 복구
  src/App.js
  src/apis/CultureApi.js
  src/apis/CultureDetailApi.js
  src/components/commons/Header.css
  src/components/commons/Header.js
  src/components/honeypot/RegistStepOne.js
  src/pages/main/Main.js
  src/pages/mypage/MyPage.js
Labels: 📬 API, 🔨 Refactor

#135 [REFACTOR][EDITPROFILE] 헤더 프로필사진 반영 확인
  src/App.js
  src/apis/ExpiredToken.js
  src/components/mypage/EditProfile.js
  src/pages/main/Main.js
  src/pages/mypage/MyPage.js
Labels: ✨ Feature, 🔨 Refactor

#137 [FEATURE][MAIN][MODIFY] 메인 페이지 수정 작업 및 Hot Banner 에서 해당 공연/전시 상세 페이지 정상 출력 안되는 에러 해결
  src/apis/main/UserInterestApi.js
  src/components/main/HotBanner.js
  src/components/main/TopBanner.js
  src/pages/main/Main.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css

#139 [FEATURE][GLOBALEXCEPTION] 클라이언트 예외처리
  src/App.js
  src/components/admin/ErrorBoundary.js
  src/components/admin/sample.js
  src/pages/Error/Error400.js
  src/pages/Error/Error403.js
  src/pages/Error/Error404.js
  src/pages/Error/Error500.js
  src/pages/Error/ErrorPage.css
Labels: ✨ Feature, 🎨 Html&css

#142 [FEATURE][HONEYPOT][BUGFIX] 허니팟 생성시 404 에러 해결
  src/components/honeypot/RegistStepOne.js
  src/pages/honeypot/RegistHoneypotPage.js
Labels: 🐞 BugFix, 🔨 Refactor

#144 [FEATURE][MAIN][MODIFY] 링크비 Picks - 로그인한 회원의 관심사에 따른 필터링 오작동 에러
  src/components/main/TopBanner.js
  src/pages/main/Main.js
  src/pages/main/Main.module.css
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css

#147 [FEATURE][HONEYPOT][REFACTOR] 테스트 후 조정
  public/images/honeypot/icon_honeypot.png
  src/apis/CultureApi.js
  src/components/commons/Header.css
  src/components/honeypot/HostDetailPage.js
  src/components/honeypot/RecommendHoneypot.css
  src/components/honeypot/RecommendHoneypot.js
  src/components/honeypot/RegistStepOne.js
  src/components/honeypot/RegistStepTwo.js
  src/components/honeypot/UserDetailPage.js
  src/components/mypage/EditProfile.js
  src/components/mypage/MyInquiryDetail.js
  src/components/mypage/Review.css
  src/components/mypage/Review.js
  src/pages/honeypot/HoneypotDetailPage.css
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/HoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: 🎨 Html&css, 🔨 Refactor

#151 [FEATURE][MAIN][MODIFY]공연/전시 정보 api 필터링 에러
  src/components/main/TopBanner.js
  src/pages/main/Main.js
  src/pages/main/Main.module.css
Labels: 📬 API, 🐞 BugFix, 🔨 Refactor

#152 [FEATURE][GLOBALEXCEPTION2] 예외처리 수정
  src/App.js
  src/components/admin/ErrorBoundary.js
  src/pages/honeypot/HoneypotDetailPage.js
Labels: ✨ Feature

#154 [FEATURE][CULTUREINFO][BUGFIX] - 레이아웃 수정 작업 및 console.log 제거
  src/components/cultureInfo/TableType.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 🐞 BugFix, 🎨 Html&css

#156 [FEATURE][MYPAGE][HONEYPOT][REFACTOR] 유저평가 로직 변경, 허니팟 리스트 뷰 추가
  src/App.js
  src/components/honeypot/HoneypotList.css
  src/components/honeypot/HoneypotList.js
  src/components/mypage/Review.js
  src/pages/main/Main.js
Labels: 🔨 Refactor

#159 [FEATURE][FOOTER] About us, 개인정보처리방침, 이용약관 VIEW 구현
  public/images/aboutus/image_honeypot_list.PNG
  public/images/aboutus/image_honeypot_members.jpg
  public/images/aboutus/image_honeypot_members.png
  public/images/aboutus/image_linkbee_line.png
  public/images/aboutus/image_linkbee_pick.PNG
  public/images/aboutus/jin.png
  public/images/aboutus/kim.png
  public/images/aboutus/lee.png
  public/images/aboutus/nam.png
  public/images/aboutus/yoon.png
  src/App.js
  src/apis/ExpiredToken.js
  src/components/commons/Footer.js
  src/pages/common/AboutUs.css
  src/pages/common/AboutUs.js
  src/pages/common/Privacy.css
  src/pages/common/Privacy.js
  src/pages/common/Terms.css
  src/pages/common/Terms.js
  src/pages/honeypot/HoneypotPage.js
Labels: 🥰 Accessibility, 🎨 Html&css

#160 [FEATURE][GLOBALEXCEPTION3] 예외처리 CSS 및 수정
  src/components/admin/ErrorBoundary.js
  src/pages/Error/ErrorPage.css
Labels: ✨ Feature, 🎨 Html&css

#161 [FEATURE][NOTICE] 이미지 CSS 수정
  src/pages/serviceCenter/NoticeDetail.module.css
Labels: 🎨 Html&css

#162 [FEATURE][SIGNUP] Refactor
  src/apis/ExpiredToken.js
  src/components/login/SignUp.css
  src/components/login/SignUp.js
Labels: 🔨 Refactor

#163 [FEATURE][MAIN][MODIFY] 얼리버드 공연/전시 정보 가격 할인율 계산 오류 수정
  src/components/cultureInfo/CardType.js
Labels: 🐞 BugFix, ✨ Feature, 🔨 Refactor

#167 [FEATURE][HONEYPOT][REFACTOR] 도메인 주소 변경
  src/App.js
  src/components/honeypot/HoneypotList.js
  src/components/honeypot/RecommendHoneypot.js
  src/components/mypage/MyComments.js
  src/components/mypage/MyHoneypot.js
  src/components/mypage/ParticipatingHoneypot.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/HoneypotPage.js
  src/pages/honeypot/ModifyHoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.js
  src/pages/main/Main.js
Labels: 🔨 Refactor

#168 [FEATURE][CULTUREINFO][BUGFIX] 공연/전시 정보 상세페이지 URL 수정
  src/App.js
  src/apis/CultureApi.js
  src/apis/CultureDiscountApi.js
  src/apis/CultureSalesApi.js
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/EarlySlideItem.js
  src/components/cultureInfo/HotSlide.js
  src/components/cultureInfo/TableType.js
  src/components/main/EarlyBannerItem.js
  src/components/main/HotBanner.js
  src/components/main/TopBanner.js
  src/pages/honeypot/HoneypotDetailPage.js
Labels: 🐞 BugFix, 🔨 Refactor

#172 [FEATURE][HONEYPOT][MYPAGE][REFACTOR3] console.log 주석 처리
  src/apis/mypage/LoginCheckApi.js
  src/components/commons/Footer.js
  src/components/honeypot/RegistStepOne.js
  src/components/mypage/EditProfile.js
  src/components/mypage/MyHoneypot.js
  src/pages/honeypot/HoneypotDetailPage.js
  src/pages/honeypot/ModifyHoneypotPage.js
  src/pages/honeypot/RegistHoneypotPage.js
  src/pages/mypage/MyPage.js
Labels: 🔨 Refactor
