Repository S-O-O-P/S-O-O-P-React, pull requests merged in 2024-06, with the labels that each got.

#6 [FEATURE] [LOGIN,SIGNUP] view 페이지 구현
  src/App.js
  src/components/commons/Footer.css
  src/components/commons/Header.css
  src/components/login/Completed.css
  src/components/login/Login.css
  src/components/login/SignUp.css
  src/components/login/SignUp.js
  src/components/login/SignUpCompleted.js
  src/pages/login/CompletedPage.js
Labels: 🎨 Html&css

#14 [FEATURE][CULTUREINFO][MAIN] 전시/공연 정보 메인 페이지 Route 추가 및 header 메뉴 페이지 연결
  src/App.js
  src/components/commons/Header.js
  src/pages/cultureInfo/CultureInfo.js
Labels: 🔨 Refactor

#16 [FEATURE][CS]고객센터
  public/images/commons/icon_arrow.png
  public/images/serviceCenter/icon_arrow_right.png
  public/images/serviceCenter/search.png
  src/App.js
  src/components/commons/Footer.js
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Cs.module.css
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
Labels: 🎨 Html&css

#17 [FEATURE][MYPAGE][HONEYPOT] FRONT
  public/images/mypage/samaple.js
  public/images/mypage/search-icon.png
  public/images/mypage/select-arrow-icon.png
  src/App.js
  src/components/mypage/MyComments.css
  src/components/mypage/MyComments.js
  src/components/mypage/MyHoneypot.css
  src/components/mypage/MyHoneypot.js
  src/components/mypage/ParticipatingHoneypot.css
  src/components/mypage/ParticipatingHoneypot.js
  src/components/mypage/sample.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
  src/pages/mypage/samaple.js
Labels: 🎨 Html&css

#18 [FEATURE][HONEY][MAIN] 허니팟 메인페이지 구성 FE - ver.2
  public/images/commons/icon_arrow.png
  public/images/mypage/samaple.js
  public/images/mypage/search-icon.png
  public/images/mypage/select-arrow-icon.png
  public/images/serviceCenter/icon_arrow_right.png
  public/images/serviceCenter/search.png
  src/App.js
  src/components/commons/Footer.js
  src/components/mypage/MyComments.css
  src/components/mypage/MyComments.js
  src/components/mypage/MyHoneypot.css
  src/components/mypage/MyHoneypot.js
  src/components/mypage/ParticipatingHoneypot.css
  src/components/mypage/ParticipatingHoneypot.js
  src/components/mypage/sample.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
  src/pages/mypage/samaple.js
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Cs.module.css
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
Labels: ⚙ Setting

#19 [DEVELOP][REFACTOR] App.js 주석 수정 , Completed.css 파일 변경
  src/App.js
  src/components/login/SignUpCompleted.css
  src/components/login/SignUpCompleted.js
Labels: 🔨 Refactor

#21 [FEATURE][MYPAGE][REVIEW] FRONT 구현 완료
  public/images/commons/icon_arrow_back_main_color.png
  public/images/mypage/angryface.png
  public/images/mypage/back-icon.png
  public/images/mypage/grinningface.png
  public/images/mypage/neutralface.png
  public/images/mypage/pensiveface.png
  public/images/mypage/poster.png
  public/images/mypage/profile-father.png
  public/images/mypage/profile-push.png
  public/images/mypage/profile-song.png
  public/images/mypage/starstruck.png
  src/components/commons/Header.css
  src/components/mypage/Review.css
  src/components/mypage/Review.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: 🎨 Html&css

#26 [FEATURE][CS] 고객센터
  public/images/serviceCenter/check.png
  src/App.js
  src/components/commons/Footer.js
  src/pages/serviceCenter/Cs.module.css
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
  src/pages/serviceCenter/NoticeDetail.js
  src/pages/serviceCenter/NoticeDetail.module.css
Labels: 🎨 Html&css

#27 [FEATURE][HONEY][MAIN] 허니팟 메인페이지 구성 FE - PR ver.2
  public/images/socializing/Background_Effect.png
  public/images/socializing/Vector 1.png
  public/images/socializing/Vector 2.png
  public/images/socializing/icon_arrow_left_white.png
  public/images/socializing/icon_arrow_right.png
  public/images/socializing/icon_arrow_right_white.png
  public/images/socializing/poster1.png
  src/App.js
  src/components/socializing/MainCategory.css
  src/components/socializing/MainCategory.js
  src/components/socializing/Search.css
  src/components/socializing/Search.js
  src/components/socializing/SubCategory.css
  src/components/socializing/SubCategory.js
  src/components/socializing/sample.js
  src/layouts/HoneyLayout.js
  src/pages/socializing/Date.js
  src/pages/socializing/Detail.js
  src/pages/socializing/Empty.js
  src/pages/socializing/Genre.js
  src/pages/socializing/Honey.css
  src/pages/socializing/Honey.js
  src/pages/socializing/MainCategory.js
  src/pages/socializing/Pagination.js
  src/pages/socializing/Search.js
  src/pages/socializing/SubCategory.js
  src/pages/socializing/Today.js
Labels: ✨ Feature, 🎨 Html&css

#31 # 최신 타 도메인 작업 내용 반영하기 위한 MERGE
  public/images/commons/icon_arrow_back_main_color.png
  public/images/mypage/angryface.png
  public/images/mypage/back-icon.png
  public/images/mypage/grinningface.png
  public/images/mypage/neutralface.png
  public/images/mypage/pensiveface.png
  public/images/mypage/poster.png
  public/images/mypage/profile-father.png
  public/images/mypage/profile-push.png
  public/images/mypage/profile-song.png
  public/images/mypage/starstruck.png
  public/images/serviceCenter/check.png
  public/images/socializing/Background_Effect.png
  public/images/socializing/Vector 1.png
  public/images/socializing/Vector 2.png
  public/images/socializing/icon_arrow_left_white.png
  public/images/socializing/icon_arrow_right.png
  public/images/socializing/icon_arrow_right_white.png
  public/images/socializing/poster1.png
  src/App.js
  src/components/commons/Footer.js
  src/components/commons/Header.css
  src/components/login/SignUpCompleted.css
  src/components/login/SignUpCompleted.js
  src/components/mypage/Review.css
  src/components/mypage/Review.js
  src/components/socializing/MainCategory.css
  src/components/socializing/MainCategory.js
  src/components/socializing/Search.css
  src/components/socializing/Search.js
  src/components/socializing/SubCategory.css
  src/components/socializing/SubCategory.js
  src/components/socializing/sample.js
  src/layouts/HoneyLayout.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
  src/pages/serviceCenter/Cs.module.css
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
  src/pages/serviceCenter/NoticeDetail.js
  src/pages/serviceCenter/NoticeDetail.module.css
  src/pages/socializing/Date.js
  src/pages/socializing/Detail.js
  src/pages/socializing/Empty.js
  src/pages/socializing/Genre.js
  src/pages/socializing/Honey.css
  src/pages/socializing/Honey.js
  src/pages/socializing/MainCategory.js
  src/pages/socializing/Pagination.js
  src/pages/socializing/Search.js
  src/pages/socializing/SubCategory.js
  src/pages/socializing/Today.js
Labels: ⚙ Setting

#30 [FEATURE][MYPAGE][MYINQUIRY] FRONT
  src/components/mypage/MyInquiry.css
  src/components/mypage/MyInquiry.js
  src/pages/mypage/MyPage.js
Labels: 🎨 Html&css

#32 [FEATURE][MYPAGE][EDITPROFILE] FRONT
  src/components/mypage/EditProfile.css
  src/components/mypage/EditProfile.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: ✨ Feature, 🎨 Html&css

#35 [FEATURE][HONEY][DETAIL] 허니팟 상세페이지 구성 FE - PR ver.1
  package-lock.json
  package.json
  src/components/socializing/MainCategory.css
  src/components/socializing/MainCategory.js
  src/components/socializing/Search.js
  src/components/socializing/SubCategory.css
  src/components/socializing/SubCategory.js
  src/pages/socializing/CustomCalendar.css
  src/pages/socializing/Detail.css
  src/pages/socializing/Detail.js
  src/pages/socializing/Honey.css
  src/pages/socializing/Honey.js
Labels: ✨ Feature, 🎨 Html&css

#38 [FEATURE][FAQ] 자주 묻는 질문페이지 수정
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
Labels: 🎨 Html&css

#39 [FEATURE][MAIN] 메인 페이지 레이아웃 작업
  public/images/main/bg_01.svg
  public/images/main/bg_02.svg
  public/images/main/bg_03.svg
  public/images/main/samaple.js
  src/App.js
  src/components/commons/Header.css
  src/components/commons/TopBtn.css
  src/components/commons/TopBtn.js
  src/components/main/EarlyBanner.js
  src/components/main/HotBanner.js
  src/components/main/TopBanner.js
  src/components/main/sample.js
  src/layouts/Layout.js
  src/pages/main/Main.js
  src/pages/main/Main.module.css
  src/pages/main/samaple.js
  src/styles/fonts/slick.eot
  src/styles/fonts/slick.svg
  src/styles/fonts/slick.ttf
  src/styles/fonts/slick.woff
  src/styles/slick-theme.css
  src/styles/slick.css
Labels: 🎨 Html&css

#40 [FEATURE][CULTUREINFO][MAIN] 전시/공연 정보 메인 페이지 레이아웃 업데이트
  public/images/commons/icon_arrow_left_main_color.png
  public/images/commons/icon_arrow_right_main_color.png
  public/images/commons/icon_end_page.png
  public/images/commons/icon_end_page_active.png
  public/images/commons/icon_next_active.png
  public/images/commons/icon_prev_active.png
  public/images/commons/icon_start_page.png
  public/images/commons/icon_start_page_active.png
  public/images/cultureInfo/icon_home_colored.png
  public/images/cultureInfo/icon_home_white.png
  public/index.html
  public/logo.png
  public/manifest.json
  src/App.js
  src/components/commons/Footer.css
  src/components/commons/Footer.js
  src/components/commons/Header.css
  src/components/commons/Header.js
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/EarlySlide.js
  src/components/cultureInfo/HotSlide.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 🎨 Html&css

#46 # REBASE
  package-lock.json
  package.json
  public/images/commons/icon_arrow_left_main_color.png
  public/images/commons/icon_arrow_right_main_color.png
  public/images/commons/icon_end_page.png
  public/images/commons/icon_end_page_active.png
  public/images/commons/icon_next_active.png
  public/images/commons/icon_prev_active.png
  public/images/commons/icon_start_page.png
  public/images/commons/icon_start_page_active.png
  public/images/cultureInfo/icon_home_colored.png
  public/images/cultureInfo/icon_home_white.png
  public/images/main/bg_01.svg
  public/images/main/bg_02.svg
  public/images/main/bg_03.svg
  public/images/main/samaple.js
  public/index.html
  public/logo.png
  public/manifest.json
  src/App.js
  src/components/commons/Footer.css
  src/components/commons/Footer.js
  src/components/commons/Header.css
  src/components/commons/Header.js
  src/components/commons/TopBtn.css
  src/components/commons/TopBtn.js
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/EarlySlide.js
  src/components/cultureInfo/HotSlide.js
  src/components/main/EarlyBanner.js
  src/components/main/HotBanner.js
  src/components/main/TopBanner.js
  src/components/main/sample.js
  src/components/mypage/EditProfile.css
  src/components/mypage/EditProfile.js
  src/components/mypage/MyInquiry.css
  src/components/mypage/MyInquiry.js
  src/layouts/Layout.js
  src/pages/cultureInfo/CultureDetail.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
  src/pages/main/Main.js
  src/pages/main/Main.module.css
  src/pages/main/samaple.js
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
  src/pages/serviceCenter/Cs.js
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.js
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
  src/styles/fonts/slick.eot
  src/styles/fonts/slick.svg
  src/styles/fonts/slick.ttf
  src/styles/fonts/slick.woff
  src/styles/slick-theme.css
  src/styles/slick.css
Labels: ⚙ Setting

#43 [FEATURE][LOGIN] 소셜 로그인 버튼 연결
  src/components/login/Login.js
Labels: 📬 API, ✨ Feature

#47 [FEATURE][CS]공지사항, 자주묻는 질문 CSS, 페이지네이션 수정
  src/pages/serviceCenter/Faq.js
  src/pages/serviceCenter/Faq.module.css
  src/pages/serviceCenter/Inquiry.module.css
  src/pages/serviceCenter/Notice.js
  src/pages/serviceCenter/Notice.module.css
Labels: 🎨 Html&css

#48 [FEATURE][MYPAGE][ALLCSS] CSS 수정
  src/components/mypage/EditProfile.css
  src/components/mypage/EditProfile.js
  src/components/mypage/MyComments.css
  src/components/mypage/MyComments.js
  src/components/mypage/MyHoneypot.js
  src/components/mypage/MyInquiry.css
  src/components/mypage/MyInquiry.js
  src/components/mypage/ParticipatingHoneypot.js
  src/components/mypage/Review.css
  src/pages/mypage/MyPage.css
  src/pages/mypage/MyPage.js
Labels: ✨ Feature, 🎨 Html&css

#49 [FEATURE][CULTUREINFO][MAIN] 레이아웃 작업
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/EarlySlide.js
  src/components/cultureInfo/HotSlide.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 🎨 Html&css

#50 [FEATURE][CULTUREINFO][DETAIL] 공연/전시 정보 상세 페이지 레이아웃 작업
  src/components/commons/Footer.js
  src/components/commons/Header.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 🎨 Html&css

#51 [FEATURE][MAIN]메인 페이지 레이아웃 작업
  src/components/main/EarlyBanner.js
  src/components/main/HotBanner.js
  src/components/main/TopBanner.js
  src/pages/main/Main.js
Labels: 🎨 Html&css

#53 [FEATURE][HONEY][WRITE] 허니팟 모집글쓰기 구성 FE - PR ver.2
  src/App.js
  src/pages/socializing/CustomCalendar.css
  src/pages/socializing/Detail.css
  src/pages/socializing/Detail.js
  src/pages/socializing/DoneResult.css
  src/pages/socializing/DoneResult.js
  src/pages/socializing/Honey.css
  src/pages/socializing/Honey.js
  src/pages/socializing/HoneyWrite.css
  src/pages/socializing/HoneyWrite.js
  src/pages/socializing/HoneyWrite2.css
  src/pages/socializing/HoneyWrite2.js
  src/pages/socializing/HoneyWrite3.css
  src/pages/socializing/HoneyWrite3.js
Labels: ✨ Feature, 🎨 Html&css

#62 [FEATURE][MAIN] 메인페이지 및 렌더링 시, HEADER 색상 및 로고 이미지 에러 수정
  src/pages/main/Main.js
Labels: 🎨 Html&css, 🔨 Refactor

#63 [FEATURE][CULTUREINFO][API] 공연/전시 공공데이터 API 호출 작업
  package-lock.json
  package.json
  src/App.js
  src/apis/CultureApi.js
  src/pages/main/Main.js
  src/setupProxy.js
Labels: 📬 API, ✨ Feature

#65 [FEATURE][HONEYPOT][MAIN] FRONT 구현
  public/images/honeypot/icon_create_white.png
  public/images/honeypot/poster_test.jpg
  src/App.js
  src/components/commons/Header.js
  src/components/honeypot/HoneypotList.css
  src/components/honeypot/HoneypotList.js
  src/components/honeypot/dashed-line.svg
  src/components/mypage/MyHoneypot.js
  src/components/mypage/ParticipatingHoneypot.js
  src/pages/honeypot/DummyData.js
  src/pages/honeypot/HoneypotPage.css
  src/pages/honeypot/HoneypotPage.js
  src/pages/mypage/MyPage.css
Labels: ✨ Feature, 🎨 Html&css

#67 [FEATURE][CULTUREINFO][API] 공연/전시 공공데이터 API 호출 데이터 추가
  src/apis/CultrueDetailApi.js
  src/apis/CultureDetailApi.js
  src/apis/CultureDiscountApi.js
  src/apis/CultureSalesApi.js
  src/setupProxy.js
Labels: 📬 API, ✨ Feature

#68 [FEATURE][CULTUREINFO][MAIN] 공연/전시 공공데이터 API 호출 데이터 연결
  src/components/cultureInfo/CardType.js
  src/components/cultureInfo/HotSlide.js
  src/pages/cultureInfo/CultureInfo.js
  src/pages/cultureInfo/CultureInfo.module.css
Labels: 📬 API, ✨ Feature

#66 [FEATURE][MAIN] 메인페이지 -공연/전시 공공데이터 API 호출 및 적용 작업
  src/apis/CultureApi.js
  src/components/main/TopBanner.js
  src/pages/main/Main.js
Labels: 📬 API, ✨ Feature
